:root {
	--page-background: #77EA90;
	--form-background: #34E846;
	--button-color: #00830D;
	--form-width: 500px;
	--radius: 6px;
}

body {
	background-color: var(--page-background)
}

#page-content {
	display: flex;
}

#description p {
	font-size: 36px;
	width: 396px;
	height: 205px;
}

#login-form, #register-form {
	text-align: center;
}

#register-form {
	display: none;
	flex-direction: column;
	max-height: 90vh;
	overflow: scroll;
}

#page-content, #register-form {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
}

form {
	width: var(--form-width);
	height: fit-content;
	background-color: var(--form-background);
	border-radius: var(--radius);
	padding: 20px;
}

form div {
	display: flex;
}

form input, form select {
	background-color: var(--form-background);
}

form input, form div, form select {
	width: -moz-available;
  width: -ms-fill-available;
  width: -o-fill-available;
  width: -webkit-fill-available;
}

form input, form select, .radio-input {
	border: 2px solid white;
	margin: 10px 5px;
}

.radio-input {
	padding: 10px;
}

form button {
	background-color: var(--button-color);
	color: white;
	border: 0;
}

form button, form input, form select {
	padding: 10px;
	border-radius: var(--radius);
}

form input[type="radio"] {
	margin: 0;
}

form p{
	opacity: 50%;
}

#login-button{
	width: 100%;
}

#close-register-form {
	position: absolute;
	right: 10px;
}

#pop-up-background {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	opacity: 50%;
	width: 100vw;
	height: 100vh;
	display: none;
}

.separator {
	display: block;
	width: 100%;
	height: 1px;
	background-color: black;
	margin: 5px 0;
}

#custom-gender {
	display: none;
	flex-direction: column;
}

#custom-gender p {
	margin: 5px 0;
}
